# --- DATABASE CONFIG ---
DATABASE_URL="postgresql://database-user:user-password@db-domain-name-or-ip:5432/database-name?schema=public" # URL of the database
# Elements of the URL to be substituted with examples:
#   "database-user": root
#   "user-password": root
#   "db-domain-name-or-ip": localhost
#   "database-name": "ticket_management_db"

# --- SERVER CONFIG ---
PORT=3000 # Number of the port in which the server will run

# --- SECURITY CONFIG (JWT) ---
JWT_SECRET="" # String used for creating the JsonWebToken. Ex: 'yBBnmhIBhYD0C61rwD29D/eUVoJyXzpEvWFLalYLYF4='

# --- STORAGE CONFIG ---
CLIENT_IMAGES_URL="" # URL of the directory which stores client images. Ex: './uploads/client-images'
RESOLUTION_IMAGES_URL="" # URL of the directory which stores resolution images. Ex: './uploads/resolution-images'
BACKEND_URL="" # URL of the backend for building the field image_url in client and resolution images. Ex: 'http://localhost:${PORT}'