# --- DATABASE CONFIG ---
DATABASE_URL=postgresql://[user]:[password]@[endpoint]-pooler.[region].aws.neon.tech/[dbname]?sslmode=require # URL of the Neon database
DIRECT_URL=postgresql://[user]:[password]@[endpoint].[region].aws.neon.tech/[dbname]?sslmode=require # URL of the Neon database without pooler ('-pooler') to avoid errors on cli commands.

# --- SERVER CONFIG ---
PORT=3000 # Number of the port in which the server will run

# --- SECURITY CONFIG (JWT) ---
JWT_SECRET= # String used for creating the JsonWebToken. Ex: yBBnmhIBhYD0C61rwD29D/eUVoJyXzpEvWFLalYLYF4=

# --- LOCAL STORAGE CONFIG ---
IMG_STORAGE=uploads # Path to the temporary storage folder. Directory 'uploads' has been added for that purpose but other folders can be used.
# CLIENT_IMAGES_URL= # [Deprecated since version 2.0.0] Previously used for local storage. URL of the directory which stores client images. Ex: ./uploads/client-images
# RESOLUTION_IMAGES_URL= # [Deprecated since version 2.0.0] Previously used for local storage. URL of the directory which stores resolution images. Ex: ./uploads/resolution-images
# BACKEND_URL= # [Deprecated since version 2.0.0] Previously used to build local image URLs. URL of the backend for building the field image_url in client and resolution images. Ex: http://localhost:3000

# --- CLOUDINARY STORAGE CONFIG ---
CLOUDINARY_NAME= # Cloudinary name
CLOUDINARY_KEY= # API key of cloudinary
CLOUDINARY_SECRET= # API secret of cloudinary